@model FamilyAlbum.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h5>Replies:</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var reply in Model.Replies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => reply.Body) by @reply.User?.FirstName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
