@model FamilyAlbum.Models.Image

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $('.new-image').submit(function (event) {
            event.preventDefault();
            console.log("moo");
            $.ajax({
                url: '@Url.Action("Upload")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = result;
                    $('#file-path').html(resultMessage);
                }
            });
        });
    });
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Upload")',
            success: function (result) {
                $('#upload-view').html(result);
            }
        });
    });
</script>

<h2>Create</h2>

<form asp-action="Create" class="new-image">
    <div class="form-horizontal">
        <h4>Image</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Caption" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FilePath" id="file-path" class="form-control" value="@TempData["Path"]" />
                <span asp-validation-for="FilePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Photo Album")
            @Html.DropDownList("PhotoAlbumId")
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div id="upload-view"></div>
<div id="upload-result"></div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
