@model FamilyAlbum.Models.PhotoAlbum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="fancy-handwriting">@Html.DisplayFor(model => model.Name) Album</h2>
<h4 class="fancy-handwriting">@Html.DisplayFor(model => model.DateStart) - @Html.DisplayFor(model => model.DateEnd)</h4>
<a asp-action="Add" asp-route-id="@Model.PhotoAlbumId">Add a photo</a>

@if (Model.Images.Count != 0)
{
    <div id="photoalbum-images">
        @foreach (var image in Model.Images)
        {
            <div class="photoalbum-image-wrapper flex-item">
                <p>@Html.DisplayFor(modelImage => image.Name)</p>
                <a asp-controller="Images" asp-action="Details" asp-route-id="@image.ImageId">
                    <img class="photoalbum-image" src="@image.FilePath" />
                </a>
            </div>
        }
     </div>
}
else
{
    <h3>There are no images in this album yet. <a asp-action="Add" asp-route-id="@Model.PhotoAlbumId">Add a photo to get started.</a>
</h3>
}




