@model IEnumerable<FamilyAlbum.Models.Family>
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var user = await UserManager.GetUserAsync(User);
}
<h2>Index</h2>

@if (user.Family == null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table family-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motto)
                </th>
                <th>
                    Photo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motto)                
                </td>
                <td>
                    <img class="family-index-photo" src="@Html.DisplayFor(modelItem => item.PhotoURL)" />
                </td>
                <td>
                    @if (ViewBag.Family == null)
                    {
                       <a asp-action="Join" asp-route-id="@item.FamilyId"> Join</a>

                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <h2>You are already a member of the @user?.Family.Name family!</h2>
}
